<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.western.cs.gofetch">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".account_related_activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dog_related_activities.AddDog"
            android:label="Add/Edit Dog"
            android:parentActivityName=".dog_related_activities.NavDogList" />
        <!-- <activity -->
        <!-- android:name=".dog_related_activities.DogList" -->
        <!-- android:icon="@drawable/ic_action_name" -->
        <!-- android:label="GoFetch: Dog List" -->
        <!-- android:parentActivityName=".account_related_activities.MainActivity" /> -->
        <activity
            android:name=".account_related_activities.CreateAccount"
            android:label="Create New Account"
            android:parentActivityName=".account_related_activities.MainActivity" />
        <activity
            android:name=".dog_related_activities.DogProfile"
            android:label="Dog Profile"
            android:parentActivityName=".dog_related_activities.NavDogList" />
        <activity
            android:name=".lesson_related_activities.BasicLessonList"
            android:label="Go Fetch Lessons"
            android:parentActivityName=".dog_related_activities.DogProfile" />
        <activity
            android:name=".leaderboard_related_activites.Leaderboard"
            android:label="Go Fetch: LeaderBoard"
            android:parentActivityName=".dog_related_activities.DogProfile" />
        <!-- <activity -->
        <!-- android:name=".PuppyLessonList" -->
        <!-- android:label="Puppy Lessons" -->
        <!-- android:parentActivityName=".lesson_related_activities.BasicLessonList" /> -->
        <!-- <activity -->
        <!-- android:name=".BeginnerLessonList" -->
        <!-- android:label="Beginner Lessons" -->
        <!-- android:parentActivityName=".lesson_related_activities.BasicLessonList" /> -->
        <!-- <activity -->
        <!-- android:name=".IntermediateLessonList" -->
        <!-- android:label="Intermediate Lessons" -->
        <!-- android:parentActivityName=".lesson_related_activities.BasicLessonList" /> -->
        <!-- <activity -->
        <!-- android:name=".AdvancedLessonList" -->
        <!-- android:label="Advanced Lessons" -->
        <!-- android:parentActivityName=".lesson_related_activities.BasicLessonList" /> -->
        <activity
            android:name=".Help"
            android:label="GoFetch: Lesson Help"
            android:parentActivityName=".lesson_related_activities.BasicLessonList" />
        <activity
            android:name=".leaderboard_related_activites.LeaderBoardHelp"
            android:label="Leader Board Help"
            android:parentActivityName=".leaderboard_related_activites.Leaderboard" />
        <activity
            android:name=".lesson_related_activities.DetailLessonList"
            android:label=" Lessons"
            android:parentActivityName=".lesson_related_activities.BasicLessonList" />
        <activity android:name=".lesson_related_activities.StartLesson" />
        <!-- <activity android:name=".Main2Activity" /> -->
        <!-- <activity -->
        <!-- android:name=".NavigationDogList" -->
        <!-- android:label="@string/title_activity_navigation_dog_list" -->
        <!-- android:theme="@style/AppTheme" /> -->
        <activity
            android:name=".dog_related_activities.NavDogList"
            android:label="Dog List"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dog_related_activities.NavDogProfile"
            android:label="Dog Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lesson_related_activities.NavBasicLessonList"
            android:label="@string/title_activity_nav_basic_lesson_list"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>