<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.western.cs.gofetch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddDog"
            android:label="Add/Edit Dog"
            android:parentActivityName=".DogList" />
        <activity
            android:name=".DogList"
            android:icon="@drawable/ic_action_name"
            android:label="GoFetch: Dog List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateAccount"
            android:label="Create New Account"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DogProfile"
            android:label="Dog Profile"
            android:parentActivityName=".DogList" />
        <activity
            android:name=".BasicLessonList"
            android:label="Go Fetch Lessons"
            android:parentActivityName=".DogProfile" />
        <activity
            android:parentActivityName=".DogProfile"
            android:label="Go Fetch: LeaderBoard"
            android:name=".Leaderboard" />
        <activity
            android:name=".PuppyLessonList"
            android:label="Puppy Lessons"
            android:parentActivityName=".BasicLessonList" />
        <activity
            android:name=".BeginnerLessonList"
            android:label="Beginner Lessons"
            android:parentActivityName=".BasicLessonList" />
        <activity
            android:parentActivityName=".BasicLessonList"
            android:label="Intermediate Lessons"
            android:name=".IntermediateLessonList" />
        <activity
            android:parentActivityName=".BasicLessonList"
            android:label="Advanced Lessons"
            android:name=".AdvancedLessonList"></activity>
    </application>

</manifest>